<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
	<extension point="org.eclipse.emf.ecore.generated_package">
		<package 
			uri = "http://www.example.org/ter_metamodel"
			class = "org.xtext.ter_metamodel.ecfdl.ecfd.EcfdPackage"
			genModel = "model/generated/ECFDL.genmodel" />
	</extension>
</plugin>
